.square-weather{
    width:252px;
    height:270px;
    border: 1px solid; 
    font-family: Helvetica;
}
.div-city-name {
    text-align: center;
    margin: 3%;
}
.label-city-name {
    color: #737c84;
    font-size: 19px;
    align-content: center;  
}
.div-temp{
    text-align: center;
    margin: 3%;
    font-size: 50px;
    align-content: center; 
    margin: 10%;
}
.label-temp-color-cold{
    color: #69a3ff;
}
.label-temp-color-fine{
    color: #ff9632;
}
.label-temp-color-hot{
    color: #ed1946;
}