.square-weather{
    width:252px;
    height:270px;
    border: 1px solid; 
    font-family: Helvetica;
}
.div-city-name {
    text-align: center;
    margin: 3%;
}
.label-city-name {
    color: #737c84;
    font-size: 19px;
    align-content: center;  
}
.div-temp{
    text-align: center;
    margin: 3%;
    font-size: 50px;
    align-content: center; 
    margin: 10%;
}
.label-temp-color-cold{
    color: #69a3ff;
}
.label-temp-color-fine{
    color: #ff9632;
}
.label-temp-color-hot{
    color: #ed1946;
}
.label-temp-color-fine{
    color: #ff9632;
}
.div-other-infos{
    text-align: center;
}
.div-humidity{
    float: left;
}
.div-pressure{
    float: right;
}

.label-humidity{
    color: #b4b4b4;
    font-size: 12px;
}
.label-humidity-value{
    color: #737c84;
    font-size: 13px;
}

.label-pressure{
    color: #b4b4b4;
    font-size: 12px;
}
.label-pressure-value{
    color: #737c84;
    font-size: 13px;
}
